<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
 	
	<resultMap id="productSelectMap" type="com.model2.mvc.service.domain.Product">
		<result property="prodNo" 			column="prod_no" 			jdbcType="NUMERIC"/>
		<result property="prodName"	column="prod_name" 		jdbcType="VARCHAR" />
		<result property="prodDetail" 	column="prod_detail" 		jdbcType="VARCHAR" />
		<result property="manuDate" 				column="manufacture_day" 					jdbcType="VARCHAR" />
		<result property="price" 				column="price" 					jdbcType="NUMERIC" />
		<result property="fileName" 			column="image_file" 		jdbcType="VARCHAR" />
		<result property="regDate" 				column="reg_date" 					jdbcType="DATE" />
		<result property="proTranCode" 				column="tran_status_code" 					jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- product의 Create(insert) -->
	
	<insert id="addProduct" parameterType="com.model2.mvc.service.domain.Product">
		INSERT INTO product (prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date)
		VALUES( seq_product_prod_no.nextval, #{prodName}, #{prodDetail}, #{manuDate}, #{price:INTEGER}, #{fileName}, SYSDATE)	
	</insert>
	<!-- OK -->
	
	<!-- product의 Read(select) -->
	
	<select id="getProduct" parameterType="string" resultMap="productSelectMap">
		SELECT prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date
		FROM product
		WHERE prod_no=#{value}
	</select>
	
	<select id="getProductList" parameterType="com.model2.mvc.common.Search" resultMap="productSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT p.*, tran_status_code
										FROM product p, transaction t
										<where>
											<if test="searchCondition != null">
												<if test="searchCondition == 0 and searchKeyword !='' ">
						 							p.prod_no LIKE '%${searchKeyword}%' AND
												</if>
												<if test="searchCondition == 1 and searchKeyword !='' ">
						 							prod_name LIKE '%${searchKeyword}%' AND
												</if>
												<if test="searchCondition == 2 and searchKeyword !='' ">
						 							price LIKE '%${searchKeyword}%' AND
												</if>
											</if>
											p.prod_no=t.prod_no(+)
										</where>
										ORDER BY 
										<if test="order == null">
											p.prod_no
										</if>
										<if test="order != null">
											p.${order}
										</if>
										) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
	
	<!-- product의 Update(update) -->
	
	<update id="updateProduct" parameterType="com.model2.mvc.service.domain.Product">
		UPDATE product 
		SET prod_name=#{prodName}, prod_detail=#{prodDetail:VARCHAR}, manufacture_day=#{manuDate:VARCHAR}, price=#{price:INTEGER}, image_file=#{fileName:VARCHAR}
		WHERE prod_no=#{prodNo}
	</update>
	
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT p.*, tran_status_code
						FROM product p, transaction t
						<where>
							<if test="searchCondition != null">
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			p.prod_no LIKE '%${searchKeyword}%' AND
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			prod_name LIKE '%${searchKeyword}%' AND
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
						 			price LIKE '%${searchKeyword}%' AND
								</if>
								</if> 
							p.prod_no=t.prod_no(+)
						</where>
						) countTable						
	 </select>
	
</mapper>