<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
	<resultMap id="purchaseSelectMap" type="com.model2.mvc.service.domain.Purchase">
		<result property="tranNo" 			column="tran_no" 			jdbcType="NUMERIC"/>
		<result property="paymentOption" 	column="payment_option" 		jdbcType="CHAR" />
		<result property="receiverName" 				column="receiver_name" 					jdbcType="VARCHAR" />
		<result property="receiverPhone" 				column="receiver_phone" 					jdbcType="VARCHAR" />
		<result property="divyAddr" 				column="dlvy_addr" 					jdbcType="VARCHAR" />
		<result property="divyRequest" 				column="dlvy_request" 					jdbcType="VARCHAR" />
		<result property="tranCode" 				column="tran_status_code" 					jdbcType="NUMERIC" />
		<result property="orderDate" 			column="order_date" 		jdbcType="DATE" />
		<result property="divyDate" 				column="dlvy_date" 					jdbcType="DATE" />
		<result property="purchaseProd.prodNo"  column="prod_no" jdbcType="NUMERIC"/>
		<result property="buyer.userId" column="buyer_id" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- product의 Create(insert) ok-->
	<insert id="addPurchase" parameterType="com.model2.mvc.service.domain.Purchase">
		INSERT INTO transaction(tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, dlvy_addr, dlvy_request, tran_status_code, order_date, dlvy_date) 
		VALUES(seq_transaction_tran_no.nextval, #{purchaseProd.prodNo}, #{buyer.userId}, #{paymentOption}, #{receiverName}, #{receiverPhone:VARCHAR}, #{divyAddr:VARCHAR}, #{divyRequest:VARCHAR},'1', SYSDATE,#{divyDate:DATE})
	</insert>

	
	<!-- product의 Read(select) ok-->
	<select id="getPurchaseByTranNo" parameterType="int" resultMap="purchaseSelectMap">
		SELECT tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, dlvy_addr, dlvy_request, tran_status_code, order_date, dlvy_date
		FROM transaction
		WHERE tran_no=#{value}
	</select>
	
	<select id="getPurchaseByProdNo" parameterType="int" resultMap="purchaseSelectMap">
		SELECT tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, dlvy_addr, dlvy_request, tran_status_code, order_date, dlvy_date
		FROM transaction
		WHERE prod_no=#{value}
	</select>
	
	<!-- product의 Read(selectList) ok-->
	
	<select id="getPurchaseList" parameterType="java.util.Map" resultMap="purchaseSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT t.* 
	  									FROM users u, transaction t 
	  									WHERE u.user_id = t.buyer_id and user_id = #{id}
	  									ORDER BY tran_no
										) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 	
	</select>
	
	<!-- product의 Update(update) ok-->
	
	<update id="updatePurchase" parameterType="com.model2.mvc.service.domain.Purchase">
		UPDATE transaction
		SET 
		payment_option=#{paymentOption}, receiver_name=#{receiverName}, receiver_phone=#{receiverPhone}, dlvy_addr=#{divyAddr}, dlvy_request=#{divyRequest:VARCHAR}, dlvy_date=#{divyDate:DATE}
		WHERE tran_no=#{tranNo}
	</update>
	
	<update id="updateTranCode" parameterType="com.model2.mvc.service.domain.Purchase">
		UPDATE transaction SET tran_status_code=#{tranCode} WHERE tran_no=#{tranNo}
	</update>
	
	<select  id="getTotalCount"  parameterType="string"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT t.* 
	  					FROM users u, transaction t 
	  					WHERE u.user_id = t.buyer_id and user_id = #{id}
	  					ORDER BY tran_no
	  					) countTable						
	 </select>
	
</mapper>